/* --- Button --- */
.button {
  background-color: transparent;
  color: var(--color--primary);
  width: 100%;
  padding: 1rem 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--col {
  flex-direction: column;
}

.button__icon {
  font-size: 3.5rem;
}

.button__icon:not(:last-child) {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.button__text {
  font-size: 1.4rem;
  font-weight: 700;
}
